.app-wrapper {
    margin: auto;
    display: grid;
width: 1450px;
    grid-template-areas: /*как будут распологаться наши эелементы по названиям*/
            "h h "   /*две строки , три столбца*/
             "n c ";
grid-template-rows: 60 px 1fr; /*сколько всего строк у нас*/
    grid-template-columns: 2fr 10fr; /*сколько колонок у нас*/
    /*grid-gap: 10px;*/

}

.header {
    grid-area: h;
  background-color: greenyellow;
}
.header img {
  width: 30px;
}

.nav {
    grid-area: n;
  background-color: cyan;
}

.content {
    grid-area: c;
  background-color: dodgerblue;
}
